@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

* {
    margin: 0;
    padding: 0;
}
html {
    font-family: sans-serif;
}
:root {
    --gap: 16px;
    --spacing: 8px;
}